<nav class="navbar">
    <div class="nav-left">
        <a href="/listings" class="logo">
            LifeBeyond <span><i class="fa-solid fa-leaf"></i></span>
        </a>
    </div>

    <div class="nav-right">
        <a href="/listings">Home</a>

        <% if(currentUser) { %>

            <% if(currentUser.role === "host") { %>
                <a href="/listings/new">Add Listing</a>
                <a href="/listings/my/listings">My Listings</a>
                <a href="/owner/bookings">Booking Requests</a>

                <!-- ADD IT HERE -->
                <a href="/host/profile">Host Profile</a>

            <% } %>

            <% if(currentUser.role === "guest") { %>
                <a href="/wishlist">Wishlist</a>
                <a href="/my-bookings">My Bookings</a>
            <% } %>

            <a href="/logout">Logout</a>

        <% } else { %>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        <% } %>
    </div>
</nav>