<nav class="navbar">
    <div class="nav-left">
        <a href="/listings" class="logo">LifeBeyond 🌍</a>
    </div>

    <div class="nav-right">
        <a href="/listings">Home</a>

        <% if(currentUser) { %>
            <a href="/listings/new">Add Listing</a>
            <a href="/listings/my/listings">My Listings</a>
            <a href="/wishlist">Wishlist</a>
            <a href="/listings/assistant">Assistant</a>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        <% } %>
    </div>
</nav>