<% layout("layouts/boilerplate") %>

<h1 class="form-heading">Terms & Conditions</h1>

<div class="account-container">
    <div class="account-card">
        <h2>LifeBeyond Platform Terms</h2>

        <p>
           1.  By using LifeBeyond, users agree to use the platform responsibly for browsing,
            viewing requests, bookings, reviews, and travel recommendations.
        </p>

        <p>
            2. Guests must provide accurate booking details, including dates, guest numbers,
            and contact information.
        </p>

        <p>
            3. Hosts are responsible for providing accurate listing information, pricing,
            guest capacity, and property details.
        </p>

        <p>
            4. Payments are processed using Stripe test mode for project demonstration purposes.
            No real payment should be made through this university project system.
        </p>

        <p>
            5. Reviews should be honest, respectful, and based on genuine user experience.
        </p>

        <p>
            6. LifeBeyond is a final year project prototype and should not be used as a real
            commercial booking platform.
        </p>
    </div>
</div>